<a href="https://colab.research.google.com/github/VrushaliKamble9/Python-Code/blob/main/Chap3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Write a function decompose that accepts a single floating point number x (don't worry about checking if it's a float)
#and returns a tuple (cos(x), sinx(x)). You can use the functions math.cos and math.sin - you do not have to import the math library.
import math
def sincos(n):
  if type(n)==float:
    return (math.cos(n), math.sin(n))

result=sincos(0.0)
print(result)

(1.0, 0.0)

In [18]:
def always_sunny(t1, t2):

    """

       t1, t2 are non empty

    """

    sun = ("sunny","sun")
    print(t1[0])

    first = t1[0] + t2[0]
    print(t2[0])

    return (sun[0], first)

r=always_sunny(('cloudy'), ('cold',))
print(r)

c
c
('sunny', 'cc')

In [24]:
t1=("cloud","old")
t2=("cold",)
print(t1[1]+t2[0])

oldcold

In [13]:
def tripleSwitch(a,b,c):
  return (c,a,b)

re=tripleSwitch(0,'a',2)
print(re)

(2, 0, 'a')

In [25]:
L = ["life", "answer", 42, 0]

for thing in L:

    if thing == 0:

        L[thing] = "universe"

    elif thing == 42:

        L[1] = "everything"
    else:
      print("none")

print(L)

none
none
['universe', 'everything', 42, 0]

In [39]:
total=0
s=[1,0,9,6]
#for i in range (len(s)):
for i in s:
  total=total+i
print(total)
s.append(3)
print(s)
s.pop(2)
print(s)
s.append(10)
s.append(3)
s.append('a')

print(s)
s.remove('a')
print(s)

16
[1, 0, 9, 6, 3]
[1, 0, 6, 3]
[1, 0, 6, 3, 10, 3, 'a']
[1, 0, 6, 3, 10, 3]

In [41]:
L1 = ["bacon", "eggs"]
L2 = ["toast", "jam"]
brunch = L1
L1.append("juice")
brunch.extend(L2)
print(L1)
print(brunch)
print(L2)

['bacon', 'eggs', 'juice', 'toast', 'jam']
['bacon', 'eggs', 'juice', 'toast', 'jam']
['toast', 'jam']

In [52]:
def builder(L1,L2,s):
 if type(s)==str:
  L1.append(s)
  L1.extend([L2])
 return L1

L1 = ["bacon", "eggs"]
L2 =  ["toast", "jam"]
s = "juice"

print(builder(L1, L2, s))

['bacon', 'eggs', 'juice', ['toast', 'jam']]

In [72]:
def builder2(L1,L2,s):
  #for i in L1[:]:
    brunch = L1
    brunch.append(s)
    result= brunch.extend(L2)
    return result

L1 = ["bacon", "eggs"]
L2 =  ["toast", "jam"]
s = "juice"

result = builder2(L1, L2, s)
print(result)  # Output: ['bacon', 'eggs', 'juice', 'toast', 'jam']

None

In [70]:
def builder2(L1, L2, s):
    # Create a new list by concatenating L1, s, and L2
    result = L1 + [s] + L2

    # Return the new list
    return result

# Test the function
L1 = ["bacon", "eggs"]
L2 = ["toast", "jam"]
s = "juice"

result = builder2(L1, L2, s)
print(result)  # Output: ['bacon', 'eggs', 'juice', 'toast', 'jam']
print(L1)  # Output: ['bacon', 'eggs']
print(L2)  # Output: ['toast', 'jam']

['bacon', 'eggs', 'juice', 'toast', 'jam']
['bacon', 'eggs']
['toast', 'jam']

In [11]:
#With a given integral number n, write a program to generate a dictionary that contains (i, i*i)
n=int(input("enter number"))
d={}
for i in range(1,n+1):
  d[i]=[i,i*i]

print(d)

def findlyrics(ly):
  mydict={}
  for w in ly:
    if w in mydict:
      mydict[w]+=1
    else:
      mydict[w]=1
  return mydict

print(findlyrics("raaj"))

enter number2
{1: [1, 1], 2: [2, 4]}
{'r': 1, 'a': 2, 'j': 1}

In [16]:
def add(k,v,d):

  if k in d:
    print("This key is already in the dictionary")
  else:
    d[k]=v
myD = {'flamingo': 'pink', 'polar bear': 'white'}

add('flamingo', 'blue', myD)

add('elephant', 'grey', myD)
print(myD)

This key is already in the dictionary
{'flamingo': 'pink', 'polar bear': 'white', 'elephant': 'grey'}

In [20]:
def test(k,d):
  if k in d:
    return True
  else:
    return False

myD = {'flamingo':'pink','polar bear':'white'}
print(test('flamingo',myD))
print(test('elephant',myD))

True
False

In [26]:
def delete(k,d):
  if k in d:
    print(f"deleting {k} with value to {d[k]}")
    del(d[k])
  else:
    print("This key is not in the dictionary")

d = {'i':52, 'j':50, 'k':61, 'l':21 }
delete('j',d)
print(len(d))
print('a' in d)

deleting j with value to 50
3
False