<a href="https://colab.research.google.com/github/VrushaliKamble9/Python-Code/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
#create list with different type of datatype

a=[1,2,3, "name",5.2]
for i in a:
  if type(i)==str:
    a.remove(i)
  else:
    print("list does not have string")
print(a)

list does not have string
list does not have string
list does not have string
[1, 2, 3, 5.2]

In [15]:
a = [3.2, 'hello', [4, 8, 17.1]]
for i in a:
  if type(i)==list:
      print(i)

print(a[2][:])

[4, 8, 17.1]
[4, 8, 17.1]

In [33]:
a = [3.2,'hello', [4, 8, 17.1],3.2]
b=a.copy()
b.pop()
print(a)
print(b)
print(max(a[2]))

[3.2, 'hello', [4, 8, 17.1], 3.2]
[3.2, 'hello', [4, 8, 17.1]]
17.1

In [40]:
lst=[56,21,9,65,85,69,800]
max=lst[0]
for i in range(len(lst)):
  if lst[i]>max:
     max=lst[i]
print(max)

800

In [42]:
mylist=((1,"a"),(2,"b"),(3,"c"),(4,"d"))
for i in mylist:
 print(i[1])

a
b
c
d

In [44]:
name="JaSonAy"
l=len(name)
if l%2==0:
 print("not possible")
else:
 c=l//2
 x=name[c-1]
 y=name[c]
 z=name[c+1]

 result="".join([x,y,z])

 print(result)

3

In [47]:
#Count the occurrence of each element from a list and create a dictonary

list1 = [11, 45, 8, 11, 23, 45, 23, 45, 89]
mydict=dict()

for i in list1:
  if i in mydict:
    mydict[i]+=1
  else:
    mydict[i]=1

print(mydict)

{11: 2, 45: 3, 8: 1, 23: 2, 89: 1}

In [54]:
#Create a Python set such that it shows the element from both lists in a pair

first_list = [2, 3, 4, 5, 6, 7, 8]
second_list = [4, 9, 16, 25, 36, 49, 64]
result=[]

for i in range (len(first_list)):
    result.append((first_list[i],second_list[i]))

print(result)


result_dict={}

for i in range (len(first_list)):
  result_dict[first_list[i]]=second_list[i]

print(result_dict)

[(2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64)]
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [70]:
#Exercise 6: Find the intersection (common) of two sets and remove those elements from the first

first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}
intersection=set()

for i in first_set:
   if i in second_set:
     intersection.add(i)

print(intersection)


first_set = {23, 42, 65, 57, 78, 83, 29}
second_set = {57, 83, 29, 67, 73, 43, 48}

# Find intersection
intersection = set()

for num in first_set:
    if num in second_set:
        intersection.add(num)

# Remove common elements from first_set
for num in intersection:
    first_set.remove(num)

print(first_set)

{57, 83, 29}
{65, 23, 42, 78}

In [1]:
dict1={'Ten':10,'Twenty':20,'Thirty':30}
dict2={'Thirteen':13}

dict3=dict1.copy()
dict3.update(dict2)

print(dict3)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Thirteen': 13}

In [15]:
set1 = {10, 20, 30, 40, 50}
set2 = {30, 40, 50, 60, 70}


set3=set()
for i in set1:
  if i in set1 or i in set2:
    set3.add(i)

print(set3)

{40, 10, 50, 20, 30}