<a href="https://colab.research.google.com/github/VrushaliKamble9/Python-Code/blob/main/lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d = { 'a':1, 'b':2, 'c':3 }
print(d)

{'a': 1, 'b': 2, 'c': 3}

In [4]:
#Write a function min_max() that takes a tuple of numbers as input and returns a tuple consisting of the smallest and the largest numbers in the input tuple.
def min_max(n):

  min=n[0]
  max=n[0]
  for i in n:
    if i < min:
      min=i
    if i>max:
      max=i
  return(min,max)

r=min_max((29, 45, 6, 19))
print(r)

(6, 45)

In [7]:
def reverse(n):
   return n[::-1]


print(reverse((3, 'hi', (5, 7), 8)))

(8, (5, 7), 'hi', 3)

In [18]:
def sum_mult(n):
  num1=0
  num2=1
  for i in n :
    num1+=i
    num2=num2*i
  return (num1,num2)

tuple1 = (1, 2, 3, 6)
tuple2 = (10,)
tuple3 = ()

result1 = sum_mult(tuple1)
result2 = sum_mult(tuple2)
result3 = sum_mult(tuple3)

print(result1)  # Output: (12, 36)
print(result2)  # Output: (10, 10)
print(result3)  # Output: None

(12, 36)
(10, 10)
(0, 1)

In [6]:
def filter_odd(n):
  return n[::2]

# Test the function
r=filter_odd(('I', 'love', 'Python', 'and', 'Java'))
print(r)  # Output: 4

('I', 'Python', 'Java')

In [43]:
import math
def apply_to_all(n,f):
    result = tuple(f(x) for x in n)
    return result

def sqr(n):
 return n*n

def positive(n):
  #if n is -n:
    return abs(n)

r=apply_to_all((1, -5, -6, 3), positive)
print(r)

(1, -5, -6, 3)

In [46]:
import math
def apply_to_all(n,f):
    result = list(f(x) for x in n)
    return result

def sqr(n):
 return n*n

def positive(n):
  #if n is -n:
    return abs(n)

r=apply_to_all((1, -5, -6, 3), positive)
print(r)

[1, -5, -6, 3]

In [47]:
def make_histogram(s):
  histogram={}
  for i in s:
    if i in histogram:
      histogram[i]+=1
    else:
      histogram[i] = 1

  return histogram

r=make_histogram('parrot')
print(r)

{'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}

In [55]:
def has_duplicates(word):

  duplicate={}
  for char in word:
    if char in duplicate:
      return True
    else:
      duplicate[char]=None
  return False
print(has_duplicates(['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']))
print(has_duplicates(['magic', 'tree', 'house']))

True
False

In [66]:
def get_duplicates(word):

  duplicate={}
  for char in word:
    if char in duplicate:
      duplicate[char]+=1
    else:
      duplicate[char]=1
  return duplicate

r=get_duplicates(['it', 'is', 'the', 'right', 'right', 'is', 'not', 'it', 'right'])
print(r)

{'it': 2, 'is': 2, 'the': 1, 'right': 3, 'not': 1}

In [8]:
def inverted_dict(d):
  mydict={}
  for key, value in d.items():
    if value in mydict:
      mydict[value].append(key)
    else:
      mydict[value]=[key]
  return mydict

r=inverted_dict({'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1})
print(r)

{1: ['p', 'a', 'o', 't'], 2: ['r']}

In [45]:
def inverted_dict1(d):
  mydict={}
  for key, value in d.items():
    mydict.setdefault(key,[]).append(value)
  return mydict

r=inverted_dict1({'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1})
print(r)

{'p': [1], 'a': [1], 'r': [2], 'o': [1], 't': [1]}

In [59]:
def inverted_dict2(d):
  mydict1={}

  for key, value in d.items():
    mydict1.setdefault(value,[]).append(key)

  d.clear()

  d.update(mydict1)

input_dict = {'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}
r=inverted_dict2(input_dict)
print(r)

None

In [61]:
def invert_dict1(d):
    # Create a temporary dictionary to store the inverted copy
    temp = {}

    # Iterate through the items in the input dictionary
    for key, value in d.items():
        # Append the key to the list of keys for the value using setdefault()
        temp.setdefault(value, []).append(key)

    # Clear the input dictionary
    d.clear()

    # Update the input dictionary with the inverted copy
    d.update(temp)

# Test the function with the example dictionary
input_dict = {'p': 1, 'a': 1, 'r': 2, 'o': 1, 't': 1}
r=invert_dict1(input_dict)
print("Mutated dictionary:", r)  # Output: {'p': [1], 'a': [1], 'r': [2], 'o': [1], 't': [1]}

Mutated dictionary: None

In [37]:
def rev(d):
  #mydict={}
  for value in d.values():
   if value==0:
    print("this can not be done")
   else:
    print("this is allright")

r=rev({'p': 0, 'a': 1, 'r': 2, 'o': 1, 't': 1})
print(r)

this can not be done
this is allright
this is allright
this is allright
this is allright
None

In [35]:
def reve(d):
  for key in d.values():
        print(key)
r=reve({'p': 0, 'a': 1, 'r': 2, 'o': 1, 't': 1})
print(r)

0
1
2
1
1
None