<a href="https://colab.research.google.com/github/VrushaliKamble9/Python-Code/blob/main/Simple_functions_Lab2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#1
def max3(a,b,c):
  if a>b and a>c:
    return a
  if b>a and b>c:
    return b
  else:
    return c
max3(10,20,8)

20

In [12]:
#2
def sort3(a,b,c):
  if a > b:
    a,b = b,a
  if b > c:
    b,c = c,b
  if a > b:
    a,b = b,a
  print(a,b,c)

sort3(9,14,8)

8 9 14

In [15]:
#3
def min_max(s):
  min=max=s[0]
  for i in s[1:]:
    if i < min:
     min=i
    if i > max:
     max=i
  return min+max
result = min_max("32815")
print(result)

18

In [33]:
#4
def reverse(s):
  reverse =""
  for char in s[::-1]:
    reverse=reverse+ char
  return reverse
result=reverse("left to right")
print(result)

thgir ot tfel

In [75]:
#5
def partialpalindrom(s,n):
  for i in range(len(s)- n+1):
    substring=s[i:i+n]
    # Check if the substring is equal to its reversal
    if substring == reverse(substring):
      return True
    else:
    # If no palindrome substring of length n is found, return False
      return False

# Test the function

result = partialpalindrom("AGTTGCC",3)
print(result)

False

In [66]:
def extract_strings(*s):
  c = ""
  for i in s:
    if type(i) is str:
      c=c+i
  return c
result = extract_strings('foo',5,'aaa')
print(result)

fooaaa

In [78]:
def area(shape, n):
#    replace pass with a line to return the area
#    of a generic shape with a parameter of n
     return shape(n)
def circle(radius):
    """
    Input: radius, a positive float
    Returns the area of a circle with the given radius
    """
    return 3.14*radius**2

def square(length):
    """
    Input: length, a positive float
    Returns the area of a square with sides of the given length
    """
    return length*length

print(area(circle,10))  # example function call
print(area(square,10))  # example function call

314.0
100

In [81]:
def person(age):
  print("I am a person")
  return age
def student(degree):
   print("I like learning")
   return degree
def holiday(place):
  print("But I need to take holidays")
  return place

print(person(12),"|",student("Math"),"|",holiday("beach"))
print(person(29),"|",student("Data Science"),"|",holiday("Japan"))
print(person(23),"|",student("Law"),"|",holiday("Barbados"))

I am a person
I like learning
But I need to take holidays
12 | Math | beach
I am a person
I like learning
But I need to take holidays
29 | Data Science | Japan
I am a person
I like learning
But I need to take holidays
23 | Law | Barbados

In [5]:
def sumDigit(num):
 total=0
 for x in num:
    total +=x
 return total

print(sumDigit((20,30,5,1)))

56

In [8]:
def sumDigit(num):
 total=1
 for x in num:
    total *=x
 return total

print(sumDigit((8, 2, 3, -1, 7)))

-336

In [11]:
def reverse(num):
 return num[::-1]

str1 = 'reverse'
print(reverse(str1))

esrever

In [14]:
#factorial
def fact(n):
  if n==0:
    return 1
  else:

    return n*fact(n-1)

print(fact(4))

24

In [16]:
#6. Write a Python function to check whether a number falls within a given range.
def testrange(n):
  if n in range(3,9):
    return True
  else:
    return False

print(testrange(15))

False

In [30]:
def countLetter(s):
  upper=0
  lower=0
  for i in s:
    if i.isupper():
      upper+=1
      #return upper
    elif i.islower():
      lower+=1
      #return lower
    else:
      pass
  print("No. of Upper case characters :", upper)
  print("No. of Lower case Characters :", lower)

countLetter("The quick Brow Fox")

No. of Upper case characters : 3
No. of Lower case Characters : 12